<div class="container">

    <div class="text-center">
        <img src="/assets/images/burger-vector-icon-png_201035.jpg" id="burgerImage" alt="Responsive image" height="225"
            class="mb-4 mt-4">
        <h1 class="display-4 font-weight-bold font-italic text-uppercase text-success mt-5">Eat-Da-Burger!</h1>

        <p class="lead mb-5">Write the name of a burger. <br> Click <strong
                class="text-primary font-weight-bold">SUBMIT</strong> to add it to the list. Don't forget you can also <strong
                class="text-danger font-weight-bold">DEVOUT IT</strong>.
        </p>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="text-primary text-uppercase font-weight-bold mt-5">What burger are you eating?</h3>

        </div>
    </div>
    <div class="row">

        <div class="col-md-8 offset-md-2 mb-5">
            <form class="create-form">

                <div class="form-group">
                    <label for="bu">Burger Name:</label>
                    <input type="text" class="form-control form-control-lg" id="bu"
                         placeholder="Enter burger name">
                    <small class="form-text text-muted">Remember you're the chef in this
                        "kitchen".</small>
                </div>

                <div class="form-group">
                    <label for="devoured">Did you devour it?</label>
                    <br>
                    <input type="radio" name="devoured" value="0" checked> No, not yet!<br>
                    <input type="radio" name="devoured" value="1"> Yes I did!
                </div>

                <button type="submit" class="btn btn-primary font-weight-bold text-uppercase" id="btnSub">Submit</button>
            </form>
        </div>
    </div>
    <hr>


    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <div class="text-center text-success mb-2">
                    <i class="fas fa-hamburger fa-2x"></i>
                </div>

                <h4 class="text-success font-weight-bold text-uppercase text-center"> Burgers Created!</h4>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Burger Name</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                         
                        {{#each burger}}
                        {{#unless devoured}}
                        {{> burgers/burger-block devour=false }}
                        {{/unless}}

                        {{/each}}
                      
                    </tbody>
                </table>
            </div>


            <div class="col-6 ">
                <div class="text-center text-danger mb-2">
                    <i class="fas fa-utensils fa-2x"></i>
                </div>


                <h4 class="text-danger font-weight-bold text-uppercase text-center">Burgers Devoured!</h4>

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Burger Name</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                          {{#each burger}}
                        {{#if devoured}}
                        {{> burgers/burger-block devour=true }}
                        {{/if}}
                        {{/each}}
                       
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>